<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello World</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.js"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.messagestore.js"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.fallbacks.js"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.language.js"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.parser.js"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.emitter.js"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.emitter.bidi.js"></script>
    <script src="antixss.js" type="text/javascript"></script>

    <script>
        $( document ).ready(function() {
            $.i18n().load( {
                en: {
                    "welcome": "Welcome.",
                    "name": "name",
                    "what_is_your_name": "What is your name?",
                    "hello": "Hello $1",
                    "added_to_database": "Hello $1, I've added you to the database!",
                    "database_contents": "Database contents: "
                },
                ja: {
                    "welcome": "ようこそ。",
                    "name": "名前",
                    "what_is_your_name": "お名前を教えてください。",
                    "hello": "こんにちは $1",
                    "added_to_database": "こんにちは $1 さん、あなたをデータベースに追加しました。",
                    "database_contents": "データベースの内容: "
                }
            } );
            $('body').i18n();
            $('#user_name').attr("placeholder", $.i18n('name') );
        });
        </script>

</head>

<body>
	
	
	
	
	<form> 
<table cellpadding="2" width="20%" bgcolor="99FFFF" align="center" cellspacing="2"> 

<tr> 
<td colspan=2> udent Registration Form</b></font></center>
<center><font size=4><b>St
</td>
</tr>
<tr> 
<td>Name</td><!--This is Table Data -->
<td><input type=”text” name=textnames id="textname" size="30"></td><!--This is Textbox-->
</tr><!--Table Row Ends -->
<tr><!--Table Row Starts -->
<td>Father Name</td><!--This is Table Data -->
<td><input type="text" name="fathername" id="fathername" size="30"></td><!--This is
Textbox-->
</tr><!--Table Row Ends -->
<tr><!--Table Row Starts -->
<td>Postal Address</td><!--This is Table Data -->
<td><input type="text" name="paddress" id="paddress" size="30"></td><!--This is Textbox-->
</tr><!--Table Row Ends -->
<tr><!--Table Row Starts -->
<td>Personal Address</td><!--This is Table Data -->
<td><input type="text" name="personaladdress" id="personaladdress" size="30"></td>><!--This
is Textbox-->
</tr><!--Table Row Ends -->
<tr><!--Table Row Starts -->
<td>Sex</td><!--This is Table Data -->
<td><input type="radio" name="sex" value="male" size="10">Male
<!--This is Table Data -->
<!--Input type is radio-->
<input type="radio" name="sex" value="Female" size="10">Female</td>
</tr><!--Table Row Ends -->
<tr><!--Table Row Starts -->
<td>City</td><!--This is Table Data --><! This is Dropdown List-->
<td><select name="City">
<option value="-1" selected>select..</option><!--This is option for Cities-->
<option value="New Delhi">NEW DELHI</option>
<option value="Mumbai">MUMBAI</option>
<option value="Goa">GOA</option>
<option value="Patna">PATNA</option>
</select></td>
</tr><!--Table Row Ends -->
<tr><!--Table Row Starts -->
<td>Course</td><!--This is Table Data -->
<td><select name="Course"><! This is Dropdown List-->
<option value="-1" selected>select..</option><!--This is option for Course-->
<option value="B.Tech">B.TECH</option>
<option value="MCA">MCA</option>
<option value="MBA">MBA</option>
<option value="BCA">BCA</option>
</select></td>
</tr><!--Table Row Ends -->
<tr><!--Table Row Starts -->
<td>District</td><!--This is Table Data -->
<td><select name="District"><! This is Dropdown List-->
<option value="-1" selected>select..</option>><!--This is option for Districts-->
<option value="Nalanda">NALANDA</option>
<option value="UP">UP</option>
<option value="Goa">GOA</option>
<option value="Patna">PATNA</option>
</select></td>
</tr><!--Table Row Ends -->
<tr><!--Table Row Starts -->
<td>State</td><!--This is Table Data -->
<td><select Name="State"><! This is Dropdown List-->
<option value="-1" selected>select..</option><!--This is option for States-->
<option value="New Delhi">NEW DELHI</option>
<option value="Mumbai">MUMBAI</option>
<option value="Goa">GOA</option>
<option value="Bihar">BIHAR</option>
</select></td>
</tr><!--Table Row Ends -->
<tr><!--Table Row Starts -->
<td>PinCode</td><!--This is Table Data -->
<td><input type="text" name="pincode" id="pincode" size="30"></td><!—This is Textbox-->
</tr><!--Table Row Ends -->
<tr><!--Table Row Starts -->
<td>EmailId</td><!--This is Table Data -->
<td><input type="text" name="emailid" id="emailid" size="30"></td><!—This is Textbox-->
</tr><!--Table Row Ends -->
<tr><!--Table Row Starts -->
<td>DOB</td><!--This is Table Data -->
<td><input type="text" name="dob" id="dob" size="30"></td><!—This is Textbox-->
</tr><!--Table Row Ends -->
<tr><!--Table Row Starts -->
<td>MobileNo</td><!--This is Table Data -->
<td><input type="text" name="mobileno" id="mobileno" size="30"></td><!—This is
Textbox-->
</tr><!--Table Row Ends -->
<tr><!--Table Row Starts -->
<td><input type="reset"></td><!--This is Table Data & Reset button-->
<td colspan="2"><input type="submit" value="Submit Form" /></td><!--submit button-->
</tr><!--Table Row Ends -->
</table> <!--Table Tag Ends-->
</form>
	
	
	
	
	
	
	
	
    <div class="container" id="container">
        <h1 data-i18n="welcome"></h1> <!-- Welcome -->
        <div id="nameInput" class="input-group-lg center-block helloInput">
            <p class="lead" data-i18n="what_is_your_name"></p>
            <input id="user_name" type="text" class="form-control" aria-describedby="sizing-addon1" value="" />
        </div>
        <p id="response" class="lead text-center"></p>

        <p id="databaseNames" class="lead text-center"></p>
    </div>
    <footer class="footer">
        <div class="container">
            <span><a href="https://console.bluemix.net/docs/tutorials/index.html" target="_blank">Looking for more tutorials?</a></span>
        </div>
    </footer>

</body>


</html>


<script>
    	//Submit data when enter key is pressed
        $('#user_name').keydown(function(e) {
        	var name = $('#user_name').val();
            if (e.which == 13 && name.length > 0) { //catch Enter key
            	//POST request to API to create a new visitor entry in the database
                $.ajax({
				  method: "POST",
				  url: "./api/visitors",
				  contentType: "application/json",
				  data: JSON.stringify({name: name })
				})
                .done(function(data) {
                    if(data && data.name){
                        if(data._id)
                            $('#response').html($.i18n('added_to_database', AntiXSS.sanitizeInput(data.name)));
                        else
                            $('#response').html($.i18n('hello', AntiXSS.sanitizeInput(data.name))); 
                    }
                    else {
                        $('#response').html(AntiXSS.sanitizeInput(data));
                    }
                    $('#nameInput').hide();
                    getNames();
                });
            }
        });

        //Retrieve all the visitors from the database
        function getNames(){
          $.get("./api/visitors")
              .done(function(data) {
                  if(data.length > 0) {
                    data.forEach(function(element, index) {
                      data[index] = AntiXSS.sanitizeInput(element)
                    });
                    $('#databaseNames').html($.i18n('database_contents') + JSON.stringify(data));
                  }
              });
          }

          //Call getNames on page load.
          getNames();


    </script>
